.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
./Shaft_Dataset
.vscode/launch.json
.vscode/settings.json
__pycache__/yolo_frontend.cpython-36.pyc
__pycache__/yolo_preprocessing.cpython-36.pyc
.vscode/settings.json
__pycache__/yolo_frontend.cpython-36.pyc
__pycache__/yolo_preprocessing.cpython-36.pyc
__pycache__/yolo_preprocessing.cpython-37.pyc
__pycache__/yolo_utils.cpython-36.pyc
yolo_config.json
.vscode/settings.json
shaft.h5
__pycache__/yolo_preprocessing.cpython-36.pyc
Img_000000.bmp
Img_000000_detected.bmp
Img_000205.bmp
Img_000205_detected.bmp
Img_000270.bmp
